In [1]:
a = ["osama","saad","zaeem"]
len(a)

3

In [3]:
a = [1,2,3,4]
sum(a)

10

In [5]:
high = [100,999,10000,99999999,898960]
max(high)

99999999

In [15]:
a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
for i in range(len(a)): 
 if a[i]<5: 
  print(a[i])

1
1
2
3

In [31]:
a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

for i in range(len(a)):
 if a[i]<=5: 
  print(a[i])

1
1
2
3
5

In [5]:
a = int( input ("enter maths num : "))
b = int( input ("enter eng num : "))
c = int( input ("enter science num : "))
d = int( input ("enter social studies num : "))
e = int( input ("enter arts num : "))
total = a+b+c+d+e
print ( "your total num is "+ str(total))
per = total*100/500 

if per>= 80 :
 print("your grade is A+")
elif per >= 70  :
 print("your grade is A")
elif per >= 60  :
 print("your grade is B ")
else :
 print("your grade is F")

enter maths num : 70
enter eng num : 90
enter science num : 90
enter social studies num : 89
enter arts num : 87
your total num is 426
your grade is A+

In [11]:
a = int (input ())
if a%2 == 0:
 print("even")
else :
 print("odd")

110
even